.form-control {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.form-control .form-control__helper-text {
    min-height: 3ch;
    color: red;
}